* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: cyan;
}
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#box {
  width: 40%;
  height: 400px;
  padding: 15px;
  box-shadow: 0px 0px 5px gray;
  background-color: white;
  border-radius: 5px;
}
.row {
  width: 100%;
  margin: 2rem;
  margin-left: 0px;
}
.btn {
  width: 100%;
  padding: 5px;
  background-color: cyan;
  font-size: 20px;
  color: black;
  border: none;
  border-radius: 5px;
}
